{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <link type="text/css" href="{% static 'main/css/servicesStyle.css' %}" rel="stylesheet"/>
    <img class="backImg" src="{% static 'main\images\30TopServ.svg' %}"  alt="backImg">
    

    <div class="ServBlock">
        <div class="groupBlock">
            <p class="ServTitle"> Занятия с кинологом</p>
            <div class="priceBlock">
                <p class="ServText">Разовое занятие</p>
                <p class="ServText">4 занятия</p>
                <p class="ServText">8 занятия</p>
                <p class="ServText">12 занятия</p>
            </div>
        </div>
        <div class="groupBlock">
            <p class="ServTitle"> Групповые с кинологом</p>
            <div class="priceBlock">
                <p class="ServText">Разовое занятие</p>
                <p class="ServText">4 занятия</p>
                <p class="ServText">8 занятия</p>
                <p class="ServText">12 занятия</p>
            </div>
        </div>
        <div class="groupBlock">
            <p class="ServTitle"> Самостоятельные занятия</p>
            <div class="priceBlock">
                <p class="ServText">Разовое занятие</p>
                <p class="ServText">4 занятия</p>
                <p class="ServText">8 занятия</p>
                <p class="ServText">12 занятия</p>
            </div>
        </div>
        <div class="groupBlock">
            <p class="ServTitle"> Групповые самостоятельные занятия</p>
            <div class="priceBlock">
                <p class="ServText">Разовое занятие</p>
                <p class="ServText">4 занятия</p>
                <p class="ServText">8 занятия</p>
                <p class="ServText">12 занятия</p>
            </div>
        </div>
        
            
        

        
            
       

       
            
     

    </div>

{% endblock %}